/* 清除全局默认样式(如果有用到地方需就在这个地方补一下)*/
/* 清除全局默认样式(如果有用到地方需就在这个地方补一下)*/
html, body, div, ul, li{
  font-family: "PingFang SC";
  margin: 0;
  padding: 0;
  color: #333333;
}

ul, ol, li{
  list-style: none;
}

/*  -- flex弹性布局 -- */
.flex {
  display: flex;
}

.flex-column{
  flex-direction:column
}

.flex-row{
  flex-direction: row;
}

@each $size in 0, 1, 2, 3, none {
  .flex-#{$size} {
    flex: $size;
  }
}

@each $direction in row, column {
  .flex-#{$direction} {
    flex-direction: $direction;
  }
}

@each $wrap in wrap, nowrap {
  .flex-#{$wrap} {
    flex-wrap: $wrap;
  }
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.text-underline {
  text-decoration: underline;
}

/*  -- 内外边距 -- */
@each $name in m, mt, mr, mb, ml, mx, my {
  @each $size in -40, -25, -20, -8, -5, 0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 20, 22, 24, 25, 28, 30, 33, 34, 35, 40, 45, 50, 60, 80, 90, 110, 260 {
    .#{$name}#{$size} {
      @if $name == mt { margin-top: #{$size}rpx; }
      @else if $name == mr { margin-right: #{$size}rpx; }
      @else if $name == mb { margin-bottom: #{$size}rpx; }
      @else if $name == ml { margin-left: #{$size}rpx; }
      @else if $name == mx { margin-left: #{$size}rpx; margin-right: #{$size}rpx; }
      @else if $name == my { margin-top: #{$size}rpx; margin-bottom: #{$size}rpx; }
      @else { margin: #{$size}px; }
    }
  }
}

@each $name in p, pt, pr, pb, pl, px, py {
  @each $size in 0, 4, 5, 6, 8, 10, 12, 15, 16, 18, 20, 22, 24, 25, 30, 35, 40, 45, 50, 100 {
    .#{$name}#{$size} {
      @if $name == pt { padding-top: #{$size}rpx; }
      @else if $name == pr { padding-right: #{$size}rpx; }
      @else if $name == pb { padding-bottom: #{$size}rpx; }
      @else if $name == pl { padding-left: #{$size}rpx; }
      @else if $name == px { padding-left: #{$size}rpx; padding-right: #{$size}rpx; }
      @else if $name == py { padding-top: #{$size}rpx; padding-bottom: #{$size}rpx; }
      @else { padding: #{$size}rpx; }
    }
  }
}

/*  -- 字体相关 -- */
@each $size in 0, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 40, 44{
  .fs#{$size} {
    font-size: #{$size}rpx;
  }
}

@each $lh in 20, 22, 24, 36, 40, 45, 48, 64 {
  .lh#{$lh} {
    line-height: #{$lh}rpx;
  }
}

@each $type in left, center, right {
  .text-#{$type} {
    text-align: #{$type};
  }
}

@each $weight in lighter, normal, bold, bolder {
  .text-#{$weight}{
    font-weight: $weight;
  }
}

.text-Abc {
  text-transform: Capitalize;
}

.text-ABC {
  text-transform: Uppercase;
}

.text-abc {
  text-transform: Lowercase;
}
.text-nowrap{
  white-space: nowrap;
}
.text-break{
  word-break: break-word;
}
.text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-warn {
  font-weight: 800;
}

$color-border-1: #ece6ea;
$color-border-2: #a4a4a4;
/*  -- 边框 -- */
@each $name in b, bl, br, bb, bt, bx, by {
  @each $color in 1, 2 {
    @each $size in 1 {
      .#{$name}#{$color}-#{$size} {
        @if $name == bt { border-top: #{$size}px solid if($color==1, $color-border-1, $color-border-2); }
        @else if $name == br { border-right: #{$size}px solid if($color==1, $color-border-1, $color-border-2); }
        @else if $name == bb { border-bottom: #{$size}px solid if($color==1, $color-border-1, $color-border-2); }
        @else if $name == bl { border-left: #{$size}px solid if($color==1, $color-border-1, $color-border-2); }
        @else { border: #{$size}px solid if($color==1, $color-border-1, $color-border-2); }
      }
    }
  }
}

// 水平线对齐
@each $vl in -1, 1 {
  .vl#{$vl} {
    vertical-align: #{$vl}px;
  }
}
// 水平线对齐
@each $vl_type in super {
  .vl-#{$vl_type} {
    vertical-align: #{$vl_type};
  }
}
/*  -- 布局 -- */
.w-full { width: 100%; }
.h-full { height: 100%; }

.overflow-auto { overflow: auto; }
.overflow-hidden { overflow: hidden; }
.border-box { box-sizing: border-box; }
.pointer { cursor: pointer; }

.fl { float: left; }
.fr { float: right; }

.cf::after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
}
// 上下垂直居中 父容器position:relative
.v-middle-left{
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.v-middle-right{
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.sticky-top{
  position: sticky;
  top: 0;
}

@each $position in relative, absolute, fixed {
  .#{$position} { position: $position; }
}

@each $type in inline, inline-flex, inline-block, block, none {
  .#{$type} { display: $type; }
}
// width height size
@each $name in 'width', 'height', 'swidth', 'sheight' {
  @each $size in 20, 25 , 30, 40, 50, 110, 120, 140, 200, 300, 320, 330 {
    .#{$name}#{$size} {
      @if $name == 'swidth' {
        width: #{$size}#{'%'} !important;
        box-sizing: border-box;
      }@else if $name == 'sheight' {
        height: #{$size}#{'%'} !important;
        box-sizing: border-box;
      }@else{
        #{$name}: #{$size}rpx !important;
        box-sizing: border-box;
      }
    }
  }
}

.bg-white {
  background-color: #ffffff;
}
.bg-red {
  background-color: #fdeee6;
}
.bg-gray {
  background-color: #f4f4f4;
}
.text-color-gray {
  color: #696969;
}
.text-color-gray2 {
  color: #b8b8b8;
}
.text-color-gray3 {
  color: #8b98a2;
}
.text-color-gray4 {
  color: #5c5b5b;
}
.text-color-white {
  color: #ffffff;
}
.text-color-blue {
  color: #2a8cd0;
}
.text-color-blue2 {
  color: #5f90a3;
}
.text-color-red {
  color: #f44746;
}
.text-color-yellow {
  color: #fb8945;
}
.shadow1 {
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
.shadow2 {
  box-shadow: 0px -2px 4px 0px rgb(64 60 67 / 16%);
}

.z1 {
  z-index: 1;
}
.z0 {
  z-index: 0;
}
.back-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}